.EditPostForm {
    padding: 10px;
    width: 50%;
}

.EditPostForm label {
    display: block;
}

.EditPostForm input,
.EditPostForm textarea {
    width: 100%;
}

.EditPostForm textarea {
    height: 50px;
}
